body {font-family:"Alumni Sans Pinstripe";
    background-color: #9fcbd1;
    color: #8722FA;}
h1, h2, h3, h4, h5, h6 {font-family:Parkinsans;
    font-size: 30pt;}
    h1 {font-size: 40pt;}

header {text-align: center;}

#hero,footer {text-align: center;
    color:#26E2FB;
    border: 10px solid #26E2FB26;
background-color: #8722FA;
padding: 10px;}

 #bio {text-align: center;}

 #hobbies {color:black;
border: 20px solid yellow}