body {font-family:"Alumni Sans Pinstripe";
    background-color: #aa8270;
    color: #0a0114;}
h1, h2, h3, h4, h5, h6 {font-family:Parkinsans;
    font-size: 30pt;}
    h1 {font-size: 40pt;}

header {text-align: center;}
/*Hero Section*/
#hero,footer {text-align: center;
    color:#26E2FB;
    border: 10px solid #26E2FB26;
background-color: #9f66e0;
padding: 10px;}
/*bio section */
 #bio {text-align: center;}
/*hobbies section*/
 #hobbies {color:black;
border: 20px solid yellow; 
display: flex; 
flex-direction: column; 
align-items: center;}
#id {align-self: auto;}
/*gallery section*/
#gallery {border: 2px solid black;}
#gallery figure {text-align: center;}
#gallery img {max-width: 100%;}
#lit {border-color: azure;
text-align: center;
text-decoration-color: #8722FA;}
figcaption:flex;
justify-content: center;
align-items: center;
font-size: 2rem;
margin-left: 1rem;